.avatar.proportioned{
    width: 300px;
    height: 300px;
}
.avatar.distorted{
    width: 200px;
    height: 400px;
}

/* en la solucion solo aparecen los dos de arriba, los dos de abajo se omiten, sin embargo la forma en que lo hice es correcta */

.original.distorted{
    max-width: 100%;
    height: auto;
}

.original.proportioned{
    max-width: 100%;
    height: auto;
}