*{border: 1px solid ;}

.everything{
    display: flex;
}

.main{
    display: flex;
    flex-direction: column;
    flex-grow: 10;
    justify-content: space-between;
}
.sidebar{
    flex-grow: 1;
}

.library{
    flex-grow: 4;
}
.submit-books{
flex-grow: 2;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    display: flex;
    flex-basis: 500px;
}